* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

header {
  height: 10vh;
  background-color: #afafaf;
  display: flex;
  padding: 0 4%;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 9vh;
  height: 2vh;
  background-color: white;
  border-radius: 1vh;
}

nav {
  width: 45vh;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li a {
  color: white;
}

li:last-child a {
  color: #afafaf;
  background-color: white;
  border-radius: 1vh;
  width: 9vh;
  height: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-content {
  height: 90vh;
  background-color: #afafaf;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-content-container {
  padding: 0 6%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-img {
  background-color: #bebebe;
  width: 10vh;
  height: 45vh;
  flex: 0 0 48%;
}

.welcome {
  flex: 0 0 48%;
  width: 10vh;
  height: 45vh;
}

h1 {
  color: #fefefe;
  font-size: 8vw;
}

.welcome-text {
  width: 35vw;
  height: 2vh;
  background-color: #eaeaea;
}

.welcome-text:nth-child(2) {
  margin-top: 4vh;
}

.welcome-text:nth-child(3) {
  margin: 1vh 0 4vh 0;
}

.link-welcome {
  height: 3vh;
  width: 12vw;
  background-color: #d5d5d5;
  border-radius: 1vh;
}

.link-welcome a {
  color: white;
  height: 3vh;
  width: 12vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  display: flex;
  justify-content: space-between;
  padding: 0 4%;
}

.card {
  flex-basis: 30%;
  margin-top: -10vh;
}

.card-picture {
  height: 30vh;
  background-color: #eaeaea;
}

.large-text-card {
  font-size: 3vw;
  margin-top: 3vh;
}

.small-text-card {
  font-size: 1.5vw;
  margin-top: 1.5vh;
}

.card-tex {
  width: 27vw;
  height: 2vh;
  background-color: #eaeaea;
}

.card-tex:nth-child(4) {
  margin-top: 4vh;
}

.card-tex:nth-child(5) {
  margin: 1vh 0 4vh 0;
  width: 25vw;
}

.card a {
  display: flex;
  justify-content: flex-end;
  color: #a6a6a6;
  font-size: 1.5vw;
}

.info-container {
  display: flex;
  padding: 0 4%;
  margin-top: 7.5%;
  flex-direction: column;
}

.info-item {
  display: flex;
  gap: 1.5%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7.5%;
}

h2 {
  font-size: 4vw;
}

.info-content {
  flex: 0 0 45%;
}

.info-text {
  width: 27vw;
  height: 2vh;
  background-color: #e9e9e9;
}

.info-picture {
  flex: 0 0 45%;
  height: 35vh;
  background-color: #eaeaea;
}

.info-text {
  width: 27vw;
  height: 2vh;
}

.info-text:nth-child(2) {
  margin-top: 4vh;
}

.info-text:nth-child(3) {
  margin: 1vh 0 4vh 0;
  width: 25vw;
}

.info-content a {
  color: white;
  height: 3vh;
  width: 12vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d5d5d5;
}

.link-mobile {
  display: none;
}

footer {
  height: 10vh;
  background-color: #afafaf;
  padding: 0 4%;
}

@media screen and (max-width: 990px) {
  nav {
    display: none;
  }

  .burger a {
    width: 5vw;
    height: 3vh;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-direction: column;
  }

  .burger a div {
    background-color: #fefefe;
    width: 100%;
    height: 25%;
  }

  .info-item {
    flex-direction: column;
  }

  .info-content {
    width: 80vw;
  }

  .info-picture {
    flex: 0 0 auto;
    height: 35vh;
    background-color: #eaeaea;
    width: 80vw;
  }

  .info-text {
    width: 80vw;
    margin-bottom: 2vh;
  }

  .info-text:nth-child(2) {
    margin-top: 2vh;
}

  .info-text:nth-child(3) {
    display: none;
  }

  .info-content a {
    display: none;
  }

  .link-mobile {
    display: flex;
    width: 80vw;
    justify-content: flex-end;
    margin-top: 1vh;
  }

  .link-mobile a {
    color: white;
    height: 3vh;
    width: 12vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d5d5d5;
    }
}
